<div class="container">
  <div class="row">
    <div class="col-xs-12" style="text-align:center;">
      <br>
      <br>
      <br>
      <br>
      <h1>For all of your Digital Photography Hosting needs.</h1><br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
